<h1>Editing catagory</h1>


<%= render "form", catagory: @catagory, class:"btn btn-secondary"  %>

<br>

<div>
  <%= link_to "Show", @catagory, class:"btn btn-secondary"  %>
  <%= link_to "Back", catagories_path, class:"btn btn-secondary"  %>
</div>
