<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<table class="table">
  <thead>
  <tr>
      <div id="catagories">
        <% @catagories.each do |catagory| %>
          <%= render catagory %>
          <p>
            <%= link_to "Show this category", catagory, class:"btn btn-secondary"  %>
          </p>
        <% end %>
      </div>

      <%= link_to "New category", new_catagory_path, class:"btn btn-secondary"  %>
  </tr>
  <thead>
</table>
